// secret key for the user session
module.exports.SESSION_SECRET = 'aSavEsecRetForTHesessIon';

// path to the files and movies
module.exports.FILES_PATH = '/';

// OMDB Api Key (get from http://www.omdbapi.com/)
module.exports.OMDB_APIKEY = '';

// path where ads can be found
module.exports.ADS_FOLDER = 'adv-images';

// how long to wait before refreshing the files in seconds
module.exports.FILES_REFRESH_SECONDS = 10;

// name of the original video in a folder
module.exports.MOVIE_VIDEO_NAME = 'video';

// extensions to detect as movies
module.exports.MOVIE_FORMAT_EXTENSIONS = [
    '.mkv',
    '.mp4'
];

// name for the subtitle file
module.exports.MOVIE_SUBTITLE_NAME = 'sub';

// extension for the subtitle file
module.exports.SUBTITLE_EXTENSION = '.vtt';

// extension to show preview
module.exports.PREVIEW_EXTENSIONS = ['.pdf', '.mkv', '.py', '.txt', '.mp4', '.html', '.vtt'];

// maximum file size in MB for uploading via FilePicker
module.exports.MAX_FILE_SIZE = 500 * 1024;

// after x hours cancel download process
module.exports.CANCEL_DOWNLOAD_HOURS = 1;

// length of the room uid ( 7 weil Flos Schwanzlänge in cm)
module.exports.ROOM_UID_LENGTH = 7;

// extensions of directories for specific purposes
module.exports.SERIES_EXTENSION = '.series';
module.exports.SEASON_EXTENSION = '.season';
module.exports.EPISODE_EXTENSION = '.episode';

module.exports.CUSTOM_MOVIE_EXTENSIONS = [
    module.exports.SERIES_EXTENSION,
    module.exports.SEASON_EXTENSION,
    module.exports.EPISODE_EXTENSION
];

module.exports.MOVIE_EXTENSIONS = module.exports.MOVIE_FORMAT_EXTENSIONS.concat(module.exports.CUSTOM_MOVIE_EXTENSIONS);

// name and order for the permissions
module.exports.PERMISSIONS = [
    'Watcher',
    'Uploader',
    'Moderator',
    'Admin'
];

// permissions needed to watch server status
module.exports.STATUS_PERMISSIONS = 2;

// permissions needed to upload a file
module.exports.UPLOAD_PERMISSIONS = 1;

// permissions needed to make changes to the files
module.exports.FILE_ACTION_PERMISSIONS = 2;
