{% layout "template" %}
{% block content %}
{% include 'nav' %}
<div class="d-flex flex-column" style="margin: 10px; height: 90vh;">
    <div>
        <div class="d-flex">
            <div class="mr-2 mb-2" style="width: 50px;">
                <a href="/file/{{file.parent}}" class="btn btn-primary w-100"><i class="fas fa-arrow-left"></i></a>
            </div>
            <div class="mx-auto d-flex">
                <p class="mr-4 mb-2 p-2">{{file.filename}}</p>
                <div class="mb-2">
                    <a class="btn btn-primary w-100" href="?download=">Download</a>
                </div>
            </div>
        </div>
    </div>
    {% if show_preview == true %}
    <object data="?preview=" class="bg-light" style="width: 100%; flex-grow : 1;">
    </object>
    {% endif %}
    {% if show_preview != true %}
    <h4 class="mt-2">Preview for this file not supported</h4>
    {% endif %}
</div>
{% endblock %}