{% layout "template" %}
{% block content %}
{% include 'nav' %}
<div style="margin: 10px;">
    {% if watched %}
    <div class="card mb-3">
        <ul class="list-group">
            <a class="list-group-item btn btn-primary stretched-link" href="/movies/{{watched.relpath2}}"><span
                    class="h5">Continue watching: </span>{{watched.relpath2}}</a>
        </ul>
    </div>
    {% endif %}
    <div class="card mb-4">
        <a class="btn btn-primary w-100 stretched-link" href="/recent"><span class="h4">New Movies</span></a>
        <div class="card-body">
            <ul class="list-group">
                {% for movie in movies %}
                <a class="list-group-item btn btn-primary stretched-link"
                    href="/movies/{{movie.relpath}}">{{movie.name}}</a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <p class="h4 mb-2 mt-2">Rooms:</p>
    <div class="card-deck w-100" style="margin: 0;" id="room-cards">
    </div>
</div>
{% include 'socketio' %}
<script>
    $(() => {
        var socket = io("/home");
        socket.on("update", rooms => {
            document.getElementById("room-cards").innerHTML = rooms.map(room => {
                return `
                <div class="card m-2" style="min-width: 200px;">
                    <h5 class="card-header">`+ room.status + `</h5>
                    <div class="card-body">
                        <h5 class="card-title">Users:</h5>
                        <ul class="list-group">`+
                    room.users.map((user) => {
                        return '<li class="list-group-item">' + user + '</li>';
                    }).join('')
                    + `</ul>
                        <a href="/room/`+ room.id + `" class="btn btn-primary stretched-link mt-2">Join</a>
                    </div>
                </div>
                `;
            }).join('');
        });
        socket.emit("update");
        setInterval(() => socket.emit("update"), 3000);
    });
</script>
{% endblock %}