{% layout "template" %}
{% block content %}
{% include 'nav' %}
<table class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Msg</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{log.msg}}</td>
            <td><script>document.write(new Date(+"{{log.time}}").toLocaleString());</script></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}