{% layout "template" %}
{% block content %}
{% include 'nav' %}
<table class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Percentage</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for watch in watched %}
        <tr>
            <td>{{watch.relpath2}}</td>
            <td>{{watch.percentage  | round: 0}} %</td>
            <td><script>document.write(new Date(+"{{watch.time}}").toLocaleString());</script></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}